<div class="setting doNotPrint" id="setting">
  <div class="container w-50">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="fs-16 pt-4 pb-3 font-weight-bold">Users</h4>
        <div class="users bg-white">
          <a href="#">
            <div class="user">
              <div class="left-side d-flex align-items-center">
                <i class="fa fa-android fa-2x pr-3"></i>
                <div class="name-user">
                  <h5 class="fs-14 c-b">Oleh Volocuga</h5>
                  <h6 class="fs-12">tknoleg3@i.com</h6>
                </div>
              </div>
              <div class="right-side">
                <i class="fa fa-angle-right c-b"></i>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="user">
              <div class="left-side d-flex align-items-center">
                <div class="name-user">
                  <h5 class="fs-14 c-b">Manage other people</h5>
                </div>
              </div>
              <div class="right-side">
                <i class="fa fa-angle-right c-b"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h4 class="fs-16 pt-4 pb-3 font-weight-bold">Appearance</h4>
        <div class="users bg-white">
          <a href="#">
            <div class="user">
              <div class="left-side d-flex align-items-center">
                <i class="fa fa-adjust fa-2x pr-3"></i>
                <div class="name-user">
                  <h5 class="fs-14 c-b">Сhange theme</h5>
                </div>
              </div>
              <div class="right-side">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                         value="option1">
                  <label class="form-check-label" for="inlineRadio1">White</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                         value="option2">
                  <label class="form-check-label" for="inlineRadio2">Black</label>
                </div>
              </div>
            </div>
          </a>
          <app-bookmarks></app-bookmarks>
          <app-add-bookmark></app-add-bookmark>
          <div class="user">
            <div class="left-side d-flex align-items-center">
              <div class="name-user">
                <h5 class="fs-14 c-b">Show bookmarks</h5>
              </div>
            </div>
            <div class="right-side">

            </div>
          </div>
          <div class="user">
            <div class="left-side d-flex align-items-center">
              <div class="name-user">
                <h5 class="fs-14 c-b">Page Zoom</h5>
              </div>
            </div>
            <div class="right-side">
              <mat-form-field>
                <mat-select>
                  <mat-option *ngFor="let zoom of zooms" [value]="zoom.value">
                    {{ zoom.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="user">
            <div class="left-side d-flex align-items-center">
              <div class="name-user">
                <h5 class="fs-14 c-b">Font size</h5>
              </div>
            </div>
            <div class="right-side">
              <select class="custom-select">
                <option value="Small">Small</option>
                <option value="Middle" selected>Middle</option>
                <option value="Big">Big</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h4 class="fs-16 pt-4 pb-3 text-center font-weight-bold">Advanced</h4>
        <h5 class="fs-14 c-b pt-4 pb-3">Printing</h5>
        <div class="users bg-white">
          <div class="user cursor" (click)="onPrint()">
            <div class="left-side d-flex align-items-center">
              <div class="name-user">
                <h5 class="fs-14 c-b">Printers</h5>
              </div>
            </div>
            <div class="right-side">
              <i class="fa fa-angle-right c-b"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h5 class="fs-14 c-b pt-4 pb-3">Reset</h5>
        <div class="users bg-white">
          <a href="#">
            <div class="user">
              <div class="left-side d-flex align-items-center">
                <div class="name-user">
                  <h5 class="fs-14 c-b">Reset</h5>
                  <span>Restore settings to their original defaults</span>
                </div>
              </div>
              <div class="right-side">
                <i class="fa fa-angle-right c-b"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

