#setting-wrapper{
  width: 700px;
}

a, p, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: GrayText;
  font-weight: 400;
}
.text-cg{
  color: #757575;
}

.c-b {
  color: #212121;
}

i {
  color: grey ;
}

.fs-16{
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}

.setting{
  height: auto;
  background-color: #f9f9f9 ;
  padding-bottom: 40px;
}
.users {
  border-radius: 5px;
  height: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  border-bottom: #f9f9f9 2px solid;
}

.name-user {
  display: flex;
  flex-flow: column;
}

.cursor {
  cursor: pointer;
}

.mat-radio-button{
  padding-right: 20px;
}

mat-form-field{
  height: 40px;
  margin-top: -20px;
}


@media only screen and (max-width: 768px) {
  #setting {
    width: 500px;
  }

}

@media only screen and (max-width: 500px) {
  #setting {
    width: 250px;
  }

}
