<mat-accordion>
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
    <mat-expansion-panel-header class="pl-1">
      <mat-list class="d-flex justify-content-between align-content-center p-0">
        <mat-list-item class="pl-2">
          <mat-icon class="fs-16 primary d-flex align-items-center fa fa-star pb-1"></mat-icon>
          <h6 class="middle">Create Bookmark</h6>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel-header>
    <div class="mat-expansion-panel-body">
      <div class="d-flex row">
        <div class="col-lg-6">
          <label>Title</label>
          <input type="text" class="form-control" name="title" [(ngModel)]="bookmark.title" placeholder="Add Title">
        </div>

        <div class="col-lg-6">
          <label>Description</label>
          <input type="text" class="form-control" name="description" [(ngModel)]="bookmark.description"
                 placeholder="Add Description">
        </div>
      </div>

      <div class="col-lg-12 d-flex justify-content-around mt-4">
        <input type="submit" class="btn btn-primary" value="Cancel" (click)="cancelBt()">
        <input type="submit" class="btn btn-primary" value="Save" (click)="onSubmit()">
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>



